.line__one {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 8px;
}

.name__desc {
  margin-top: 20px;
}

.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: #101828;
}

.id {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.line__two {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
}

.location {
  display: flex;
  gap: 4px;
  align-items: center;
}

.area {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.price {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #3470ff;
  margin-bottom: 32px;
}

.explanation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  width: 488px;
  height: 40px;
  display: block;
  margin-bottom: 68px;
}

.conditions {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  display: block;
  margin-bottom: 20px;
}

.conditions_list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 110px;
}

.conditions_list__item {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}
